@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Fredoka", system-ui, sans-serif;
  color: #6f5f52;
  background-color: #ffffff;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
